<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="jqFilter.js"></script>
</head>
<body ng-controller="ToDoCtrl">
<div class="list" ng-repeat="x in list" style="border-bottom:1px solid #ccc;margin-bottom:10px;">
    <p>title: {{x.title}}</p>

    <div ng-repeat="y in x.imgs">
        <p>url:{{y.imageUrl}}</p>
    </div>
</div>

<div class="list" ng-repeat="a in temp2">
    <p></p>
</div>



<!--<div>{{list2}}</div>-->
<div>{{list}}</div>
<br>
<div>{{temp}}</div>
<br>
<div>{{temp2}}</div>
</body>
</html>