<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>表格</title>
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/angular.js/1.5.0-beta.0/angular.js"></script>
</head>
<body>
<style>
    #divMain {
        width: 500px;
        margin: 0 auto;
        margin-top: 100px;
    }
    nav {
        position: relative;
        width:100%;
        height: 50px;
    }
    .pagination {
        right: 0px;
        position: absolute;
        top: -30px;
    }
    nav li {
        cursor: pointer;
    }
</style>
<div id="divMain" ng-app="myApp" ng-controller="myCtrl">
    <table class="table table-bordered">
        <tr>
            <th>index</th>
            <th>全选 : <input type="checkbox" ng-model="selectAll" ng-click="all(selectAll)"></th>
            <th>{{selPage}}</th>
        </tr>
        <tr ng-repeat="x in items | offset:currentPage:pageSize">
            <td>{{ $index + 1 }}</td>
            <td ng-bind="x.id"></td>
            <td ng-bind="x.name"></td>
            <td ng-bind="x.sex"></td>
            <td ng-bind="x.age"></td>
            <td><input type="checkbox" ng-checked="x.state" ng-model="x.state" ng-click="che($index)"></td>
        </tr>
    </table>
    <nav>
        <ul class="pagination">
            <li>
                <a ng-click="Previous2()">
                    <span>上一页</span>
                </a>
            </li>
            <!--<li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                <a ng-click="selectPage(page)" >{{ page }}</a>
            </li>-->
            <li>
                <a ng-click="next2()">
                    <span>下一页</span>
                </a>
            </li>
        </ul>
    </nav>
    <div>{{selBox}}</div>
</div>

<script>
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function ($scope, $http) {
        $scope.currentPage = 1;
        $scope.pageSize = 3;
        $http.get("../data/data.json").then(function (response) {
            //数据源
            $scope.data = response.data.student;

            $scope.selectAll=false;

            $scope.items = $scope.data;
            //全选
            $scope.all = function (m) {
                for(let i=0;i<$scope.items.length;i++){
                    if(m === true){
                        $scope.items[i].state=true;
                    }else {
                        $scope.items[i].state=false;

                    }
                }
            };
            //单独选
            $scope.che = function(index){
                console.log($scope.items[index].state);
                if($scope.items[index].state){
                    $scope.items[index].state = true;
                    let cheArr = [];
                    for(let j in $scope.selBox){
                        cheArr.push($scope.selBox[j].id);
                    }
                    let xx = cheArr.indexOf($scope.items[index].id);
                    if(xx == -1){
                        $scope.selBox.push({id:$scope.items[index].id});
                    }
                }else{
                    $scope.items[index].state = false;
                    let cheArr = [];
                    for(let a in $scope.selBox){
                        cheArr.push($scope.selBox[a].id)
                    }
                    let yy = cheArr.indexOf($scope.items[index].id);
                    $scope.selBox.splice(yy,1);
                }
                //$scope.selBox.push({id:$scope.items[index].id});
            };


            //上一页

            $scope.Previous2 = function () {
                if($scope.currentPage > 1){
                    $scope.currentPage--;
                }
            };
            //下一页
            $scope.next2 = function(){
                let pages = Math.ceil($scope.items.length / $scope.pageSize);
                if(currentPage < pages){
                    $scope.currentPage++;
                }

            }
        });
    }).filter('offset', function () {
        return function (input, start, pageSize) {
            if (input && input.length > pageSize) {
                return input.slice(parseInt(start - 1) * pageSize, parseInt(start) * pageSize);
            }
            return input;
        };
    });
</script>
</body>
</html>