<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        ul,li{list-style:none;}
        ul li{width:200px;margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid #ccc;}
        ul li div span{display:inline-block;margin-right:10px;}
        ul li div.show{color:#cf0000;}
    </style>
</head>
<body>

<div ng-app="myApp" ng-controller="control">
    <!--show hide list-->
    <ul>
        <li ng-repeat="x in items">
            <button ng-click="showHide($index)">click</button>
            <div><span>{{x.id}}</span><span>{{x.name}}</span></div>
            <div class="show" ng-show="x.show">
                <span>{{x.sex}}</span>
                <span>{{x.age}}</span>
            </div>
        </li>
    </ul>

    <!--show hide one-->
    <div class="showBox">
        <button ng-click="toggleMenu()">Toggle Menu</button>
        <ul ng-show='menuState.show'>
            <li>Stun</li>
            <li>Disintegrate</li>
            <li>Erase from history</li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    //模型
    var app = angular.module('myApp',[]);

    //控制器
    app.controller("control",function($scope, $http){
        $http.get("../data/data.json").then(function (response) {
            //数据源
            $scope.items = response.data.student;


            //show hide list
            $scope.showHide = function(index){
                $scope.items[index].show = !$scope.items[index].show;
            };


            //show hide one
            $scope.menuState = {
                show: false
            }
            $scope.toggleMenu = function() {
                $scope.menuState.show = !$scope.menuState.show;
            }
        });

    });


</script>
</body>
</html>