<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script type='text/javascript' src='../scripts/vendor/angular.min.js'></script>
</head>
<body ng-controller="ArticleCtrl">
<article class="block post" id="{{article.id}}">
    <!--<span class="round-date">
        <span class="month" ng-bind="(article.post_time |dateUtil|date:'M')+'月'"></span>
        <span class="day" ng-bind="article.post_time |dateUtil| date:'d'"></span>
    </span>-->
    <header>
        <p class="title">
            <a href="articleDetail.html?{{article.id}}" ng-bind="article.name" target="_blank"></a>
        </p>
        <p class="article-meta">
            <!--<i class="fa fa-paper-plane-o" ng-bind="article.post_time | date:'yyyy-MM-dd'"></i>-->
            <i class="fa fa-eye" ng-bind="article.id"></i>
            <i class="fa fa-comment-o" ng-bind="article.name"></i></p>
        <div class="tag-meta">
            <div class="tag" ng-repeat="tag in article.courses" ng-bind="tag"></div>
        </div>
    </header>
    <div class="article-content animate-show"  ng-show="showMe"></div><!--ng-bind-html="article.post_abstract | to_trusted"-->
    <span class="fa fa-angle-double-up compress" ng-click="toggle()"></span>
</article>

<script>
    var myAppModule = angular.module('myApp', []);

    myAppModule.controller('ArticleCtrl', function($scope, $http) {

        var offset = 0, //当前页数
                limit = 2,  //一页多少篇
                i = 0; //第几次加载
        $scope.getAbstract = function() {

            $http.get('../data/data.json', {
                params: {
                    offset, limit

                }
            })
                    .success(function(data, status, headers, config) {
                        console.log(data.student);
                        if (i == 0) {
                            $scope.articles = data.student;
                            i++;
                        } else if (i >= 1)
                            $scope["articles" + i++] = data.student;
                        offset = offset + limit;

                    }).error(function(data, status, headers, config) {
                        alert("error")
            }).then(function(result) {

                $("pagination input").removeAttr("disabled");
                $("pagination input").val("点击加载更多");
                if(result.data.length<=0) $("pagination input").val("没有更多文章啦~");
            });

        }
        $scope.getAbstract();

    });

    myAppModule.directive('pagination', function($compile) {
        return {
            restrict: 'AEMC', // E = Element, A = Attribute, C = Class, M = Comment
            scope: true,
            template: "<input type='button' value='加载更多'/>",
            link: function($scope, iElm, iAttrs, controller) {
                var i =1; //计数，第几次加载
                $("pagination input").bind("click", function() {
                    $("pagination input").attr("disabled", "true");
                    $("pagination input").val("正在加载....败着急");
                    $scope.getAbstract();
                    var el = $compile("<articleblock ng-repeat='article in articles" + i + "'></articleblock>")($scope); //重新compile一下，再append
                    i++;
                    $("#main").append(el);

                })

            }
        }

    });
</script>
</body>
</html>